<div class="container">
    <div class="container">
      <div class="izq">       
        <img class="imagen" src="../../../assets/imgs/QQ.jpg" alt="">
      </div>
    </div>
        <div class="der">
          <body>
    
              <form class="registration-form">
                <br>
                <br>
                <br>
                <br>
                <h2>CREAR CUENTA</h2>
                <h3>Ya tienes una cuenta?<a href="login/iniciar-sesion"><u>Iniciar sesion</u></a></h3>
                <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
                  <div>
                    <label for="nombre">Nombre</label>
                    <input id="nombre" formControlName="nombre" required>
                  </div>
                  <div>
                    <label for="email">Email</label>
                    <input id="email" formControlName="email" type="email" required>
                  </div>
                  <div>
                    <label for="usuario">Usuario</label>
                    <input id="usuario" formControlName="usuario" required>
                  </div>
                  <div>
                    <label for="contrasena">Contraseña</label>
                    <input id="contrasena" formControlName="contrasena" type="password" required>
                  </div>
                  <div>
                    <label for="tipoUsuario">Tipo de Usuario</label>
                    <select id="tipoUsuario" formControlName="tipoUsuario">
                      <option value="cliente">Cliente</option>
                      <option value="administrador">Administrador</option>
                    </select>
                  </div>
                  <button type="submit">Registrarse</button>
                  <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
                </form>
                
                <br>
                <br>
                <br>
                <button type="button">Crear cuenta con Google</button><br>
                <button type="button">Crear cuenta con Facebook</button>
                <br>
                <br>
                <br>
                <br>
                <br>
              </form>
          </body>
        </div>
    </div>


<!--------------------------------------FOOTER-------------------------------------->
<footer class="footer">
    <div class="footer-column">
      <h3>CONTACTO</h3>
      <p>🎧 Atención al cliente 24/7: (+593)927314029</p>
      
      <div class="social-icons">
        <img src="../../../assets/imgs/facebook.png" alt="facebook" >
        <img src="../../../assets/imgs/instagram.jpg" alt="instagram">
        <img src="../../../assets/imgs/youtube.png" alt="youtube">
       
        <img src="../../../assets/imgs/tik-tok.png" alt="tiktok">
        <img src="../../../assets/imgs/gorjeo.png" alt="twitter">
      </div>
    </div>
    <div class="footer-column">
      <div class="footer-center">
        <h3>Por qué comprar</h3>
        <ul>
         
          <li><u>Centro de ayuda en linea</u></li>
          <li><u>Política de devolucion de productos</u></li>
          <li><u>Términos y condiciones</u></li>
          
          <li><u>Propiedad intelectual</u></li>
        </ul>
      </div>
    </div>
    <div class="footer-column">
      <div class="footer-end">
        <h3>MÉTODOS DE PAGO</h3>
        <div class="social-icons">
          <img src="../../../assets/imgs/visa.jpg" alt="Visa" >
          <img src="../../../assets/imgs/paypal.png" alt="Paypal" >
          <img src="../../../assets/imgs/tarjeta.png" alt="MasterCard" >
        </div>
      </div>
    </div>
    <p class="slogan">® 2018- 2025 -Paraíso de los libros- Todos los derechos reservados - </p>
  </footer>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
