     
<!DOCTYPE html>
<html lang="es">
    <head>
          <meta charset="UTF-8">
          <title>Mi Biblioteca</title>
    </head>
   
    <body>
  <!------------------------------------------ ENCABEZADO ---------------------------------------------------->
  <header>
    <div class="header-container">
        
        <div class="botones-container">
            <div class="encabezado"> 
            <img src="../../../assets/imgs/BIBI.PNG" alt="Logo" class="logo">
            <h1>Paraíso de los Libros</h1>
            </div>
            
            <button onclick="window.location.href = 'inicio';">INICIO</button>
            <button onclick="window.location.href = 'categoria';">CATÁLOGO</button>
            <button onclick="window.location.href = 'carrito';">CARRITO</button>
        
                <img src="../../../assets/imgs/carrito.png" alt="Imagen 1" class="additional-image">
                <img src="../../../assets/imgs/usuario.png" alt="Imagen 2" class="additional-image">
                <p>Iniciar Sesión</p>
            </div>
        </div>
   
</header>


<!------------------------------------------ Footer ---------------------------------------------------->
     <footer class="footer">
        <div class="footer-column">
            <h3>CONTACTO</h3>
            <p>🎧 Atención al cliente 24/7: (+593) 927314029</p>
           
            <div class="social-icons">
                <a href="https://instagram.com/tu-perfil" target="_blank" rel="noopener">
                    <img src="../../../assets/imgs/IN.PNG" alt="Instagram">
                </a>
                <a href="https://facebook.com/tu-pagina" target="_blank" rel="noopener">
                    <img src="../../../assets/imgs/F.PNG" alt="Facebook">
                </a>
                <a href="https://x.com/?lang=es" target="_blank" rel="noopener">
                    <img src="../../../assets/imgs/X.PNG" alt="Twitter">
                </a>
                <a href="https://tiktok.com/tu-perfil" target="_blank" rel="noopener">
                    <img src="../../../assets/imgs/T.png" alt="TikTok">
                </a>
                <a href="https://youtube.com/tu-canal" target="_blank" rel="noopener">
                    <img src="../../../assets/imgs/Y.PNG" alt="YouTube">
                </a>
                <a href="https://www.google.com/maps" target="_blank" rel="noopener">
                    <img src="../../../assets/imgs/Ubi.png" alt="Ubicacion">
                </a>
               
            </div>
        </div>
        <div class="footer-column">
            <div class="footer-center">
                <h3>Por qué comprar</h3>
                <ul>
                    <li>Centro de ayuda en línea</li>
                    <li>Política de devolución de productos</li>
                    <li>Términos y condiciones</li>
                    <li>Propiedad intelectual</li>
                </ul>
            </div>
        </div>
        <div class="footer-column">
            <div class="footer-end">
                <h3>MÉTODOS DE PAGO</h3>
                <div class="social-icons">
                    <img src="../../../assets/imgs/visa.png" alt="Visa">
                    <img src="../../../assets/imgs/paypal.png" alt="Paypal">
                    <img src="../../../assets/imgs/mastercard.png" alt="MasterCard">
                </div>
            </div>
        </div>
        <p class="slogan">® 2019 - 2024- Paraíso de los libros <br> Todos los derechos reservados </p>
    </footer>
</body>
</html>
