
  <!------------------------------------------ ENCABEZADO ---------------------------------------------------->
  <div class="header-container">
    <div class="column">
      <p>Envíos Gratis!</p>
    </div>

    <div class="column">
      <p>PARAÍSO DE LOS LIBROS</p>
    </div>
  </div>

  <div class="seccion-tres-columnas">
    <div class="column">
      <img src="../../../assets/imgs/BIBI.PNG" alt="Logo de la tienda" class="logo-img">
    </div>
    <div class="column">
      <input type="text" placeholder="Buscar">
      <button class="search-button">
        <img src="../../../assets/imgs/search.png" alt="Buscar" class="search-img">
      </button>
      <div class="tabs">
        <span><a href="inicio">INICIO</a></span>
        <span><a href="categoria">CATÁLOGO</a></span>
        <span><a href="carrito">CARRITO</a></span>
      </div>
    </div>
    <div class="column">
      <button onclick="window.location.href = 'inicio';">
        <img src="../../../assets/imgs/user.jpg" alt="Perfil">
      </button>
      <button onclick="window.location.href = 'categoria';">
        <img src="../../../assets/imgs/heart.png" alt="Favoritos">
      </button>
      <button onclick="window.location.href = 'carrito';">
        <img src="../../../assets/imgs/carrito.png" alt="Carrito">
      </button>
      <p>Iniciar Sesión</p>
    </div>
  </div>

  <!----------------------------------PORTADA-------------------------------------------------->
  <div class="portada">
    <img src="../../../assets/imgs/PRI.PNG" alt="Portada">
  </div>


<!--------------------------------------------BOBY------------------------------------------------------------>
<!--------------------------------------AREAS-------------------------------------->
<div class="centered-title">
  <h1> ÁREAS</h1>
</div>    
<div class="options-grid">
  <div class="option">
    <div class="image-container">
      <img src="../../../assets/imgs/NN.PNG" alt="Imagen 1">
        <div class="text-container"> Infantil y juvenil </div>
    </div>
  </div>  
  <div class="option">
    <div class="image-container">
      <img src="../../../assets/imgs/SS.jpg" alt="Imagen 2">
        <div class="text-container">Ciencia ficción y fantasía</div>
    </div>
  </div>
  <div class="option">
    <div class="image-container">
      <img src="../../../assets/imgs/WS.PNG"  alt="Imagen 3">
      <div class="text-container">Filosofía y pensamiento</div>
    </div>
  </div>
</div>
   
<!--------------------------------------BENEFICIOS-------------------------------------->
<div class="container centered-title">
  <h1>BENEFICIOS</h1>
  <div class="options-grid">
    <div class="option">
      <div class="image-container">
        <img src="..//../../assets/imgs/AA.PNG" alt="LECTURA" width="200">
        <div class="text-container">
          <p>ALCANCE LITERARIO <br>
            Un cuerpo de resúmenes y reseñas sobre títulos dignos de su consideración.</p>
        </div>
      </div>
    </div>
    <div class="option">
      <div class="image-container">
        <img src="../../../assets/imgs/UU.PNG" alt="Ubicacion" width="200">
        <div class="text-container">
          <p>ENTREGAS A DOMICILIO <br>
            Recíbe tus compras directamente en tu hogar. Hacemos envíos a todo el Ecuador</p>
        </div>
      </div>
    </div>
    <div class="option">
      <div class="image-container">
        <img src="../../../assets/imgs/BB.PNG" alt="Bonos" width="200">
        <div class="text-container">
          <p>BONOBOOKS <br>
            Regala tarjetas BonoBooks. Conoce más sobre sus beneficios.</p>
        </div>
      </div>
    </div>
  </div>
</div>



















































































<!--------------------------------------FOOTER-------------------------------------->
<footer class="footer">
  <div class="footer-column">
    <h3>CONTACTO</h3>
    <p>🎧 Atención al cliente 24/7: (+593)927314029</p>
    
    <div class="social-icons">
      <img src="../../../assets/imgs/facebook.png" alt="facebook" >
      <img src="../../../assets/imgs/instagram.jpg" alt="instagram">
      <img src="../../../assets/imgs/youtube.png" alt="youtube">
     
      <img src="../../../assets/imgs/tik-tok.png" alt="tiktok">
      <img src="../../../assets/imgs/gorjeo.png" alt="twitter">
    </div>
  </div>
  <div class="footer-column">
    <div class="footer-center">
      <h3>Por qué comprar</h3>
      <ul>
       
        <li><u>Centro de ayuda en linea</u></li>
        <li><u>Política de devolucion de productos</u></li>
        <li><u>Términos y condiciones</u></li>
        
        <li><u>Propiedad intelectual</u></li>
      </ul>
    </div>
  </div>
  <div class="footer-column">
    <div class="footer-end">
      <h3>MÉTODOS DE PAGO</h3>
      <div class="social-icons">
        <img src="../../../assets/imgs/visa.jpg" alt="Visa" >
        <img src="../../../assets/imgs/paypal.png" alt="Paypal" >
        <img src="../../../assets/imgs/tarjeta.png" alt="MasterCard" >
      </div>
    </div>
  </div>
  <p class="slogan">® 2018- 2025 -Paraíso de los libros- Todos los derechos reservados - </p>
</footer>

