<!--------------------------------------ENCABEZADO-------------------------------------->
<div class="header-container">
    <div class="column">
      <p>Envíos Gratis!</p>
    </div>
    <div class="column">
      <p>PARAÍSO DE LOS LIBROS</p>
    </div>
  </div>
  
  <div class="seccion-tres-columnas">
    <div class="column">
      <img src="../../../assets/imgs/BIBI.PNG" alt="Logo de la tienda" class="logo-img">
    </div>
    <div class="column">
      <input type="text" placeholder="Buscar">
      <button class="search-button">
        <img src="../../../assets/imgs/search.png" alt="Buscar" class="search-img">
      </button>
      <div class="tabs">
        <span><a href="inicio">INICIO</a></span>
        <span><a href="categoria">CATÁLOGO</a></span>
        <span><a href="carrito">CARRITO</a></span>
      </div>
    </div>
    <div class="column">
      <button onclick="window.location.href = 'inicio';">
        <img src="../../../assets/imgs/user.jpg" alt="Perfil">
      </button>
      <button onclick="window.location.href = 'categoria';">
        <img src="../../../assets/imgs/heart.png" alt="Favoritos">
      </button>
      <button onclick="window.location.href = 'carrito';">
        <img src="../../../assets/imgs/carrito.png" alt="Carrito">
      </button>
    </div>
  </div>
  
  <!----------------------------------------DATOS USUARIO---------------------------------------------------------------->

<!-- <div class="container">
  <div class="buscar-container">
    <label for="codeABuscar">Ingrese el codigo:</label>
    <input type="text" id="codeABuscar" name="codeABuscar" [(ngModel)]="codeABuscar"/>
    <button (click)="realizarBusqueda()">Buscar Usuario</button><br>  
    <button (click)="irAReporte()">Ver Registro de compras</button><br>
    <button (click)="irALogIn()">Log Out</button><br>  
  </div>


  <div class="tabla-container" *ngIf="usuario">
    <table class="tabla-cliente">
      <thead>
        <tr>
          <th>Codigo</th>
          <th>Nombre</th>
          <th>Usuario</th>
          <th>Correo</th>
          <th>Contraseña</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <tr>
            <td>{{ usuario.codigo }}</td>
            <td>{{ usuario.nombre }}</td>
            <td>{{ usuario.usuario }}</td>
            <td>{{ usuario.correo }}</td>
            <td>{{ usuario.contrasena }}</td>
          </tr>
      </tbody>
    </table>
  </div> -->
