
  <!------------------------------------------ ENCABEZADO ---------------------------------------------------->
  <div class="header-container">
    <div class="column">
      <p>Envíos Gratis!</p>
    </div>

    <div class="column">
      <p>PARAÍSO DE LOS LIBROS</p>
    </div>
  </div>

  <div class="seccion-tres-columnas">
    <div class="column">
      <img src="../../../assets/imgs/BIBI.PNG" alt="Logo de la tienda" class="logo-img">
    </div>
    <div class="column">
      <input type="text" placeholder="Buscar">
      <button class="search-button">
        <img src="../../../assets/imgs/search.png" alt="Buscar" class="search-img">
      </button>
      <div class="tabs">
        <span><a href="inicio">INICIO</a></span>
        <span><a href="categoria">CATÁLOGO</a></span>
        <span><a href="carrito">CARRITO</a></span>
      </div>
    </div>
    <div class="column">
      <button onclick="window.location.href = 'inicio';">
        <img src="../../../assets/imgs/user.jpg" alt="Perfil">
      </button>
      <button onclick="window.location.href = 'categoria';">
        <img src="../../../assets/imgs/heart.png" alt="Favoritos">
      </button>
      <button onclick="window.location.href = 'carrito';">
        <img src="../../../assets/imgs/carrito.png" alt="Carrito">
      </button>
      <p>Iniciar Sesión</p>
    </div>
  </div>

<!-----------------------------------------BOBY------------------------------------------------------------->

<div class="productos">
  <h2>CATÁLOGO</h2>
  <h3 class="product-title"> Infantil / Juvenil </h3>
  <div class="product-row">
      <div class="product-card">
       
        <img src="../../../assets/imgs/PP.jpg" alt="Imagen 1">
          <div class="product-info">
                  <span>Idioma: Español</span><br>
                  <span>Editorial: EMECE</span><br>
                  <span>ISBN: 1485039</span><br>
                  <span>  La historia 
                    sigue a un pequeño 
                    príncipe que viaja
                     desde su asteroide a 
                    través del universo .</span><br>
                  <span>Precio: $20.99</span><br>
                  <span>Cantidad: <input type="number" min="1" value="1"></span>
                  <img src="../../../assets/imgs/RR.png" alt="Añadir al carrito">
            
          </div>
      </div>
      <div class="product-card">
        <img src="../../../assets/imgs/HH.jpg" alt="Imagen 2">
        <div class="product-info">
          <span>Idioma: Ingles</span><br>
          <span>Editorial: AGATE</span><br>
          <span>ISBN: 85791273</span><br>
          <span>  Historia de crecimiento personal, camaradería y aventuras.</span><br>
          <span>Precio: $30.45</span><br>
          <span>Cantidad: <input type="number" min="1" value="1"></span>
          <img src="../../../assets/imgs/RR.png" alt="Añadir al carrito">
    
        </div>
      </div>
    
      <h3 class="product-title">Ciencia ficción / Fantasía</h3>
      <div class="product-card">
       
        <img src="../../../assets/imgs/II.jpg" alt="Imagen 3">
          <div class="product-info">
                  <span>Idioma: Español</span><br>
                  <span>Editorial: ATLANTA</span><br>
                  <span>ISBN: 53840297</span><br>
                  <span> La historia se centra en el matemático Hari Seldon, 
                    quien desarrolla la "psicohistoria",
                     una ciencia que permite predecir el futuro a gran escala. </span><br>
                  <span>Precio: $40.99</span><br>
                  <span>Cantidad: <input type="number" min="1" value="1"></span>
                  <img src="../../../assets/imgs/RR.png" alt="Añadir al carrito">
            
          </div>
      </div>
      <div class="product-card">
        <img src="../../../assets/imgs/KK.jpg" alt="Imagen 4">
        <div class="product-info">
          <span>Idioma: Ingles</span><br>
          <span>Editorial: ATALNTA</span><br>
          <span>ISBN: 148930576</span><br>
          <span>  Cuenta la historia de Victor Frankenstein, 
            un joven científico obsesionado con desentrañar los secretos
             de la vida.</span><br>
          <span>Precio: $45.85</span><br>
          <span>Cantidad: <input type="number" min="1" value="1"></span>
          <img src="../../../assets/imgs/RR.png" alt="Añadir al carrito">
        </div>
      </div>

  <h3 class="product-title">Filosofía / Pensamiento</h3>
  <div class="product-card">
    <img src="../../../assets/imgs/FF.jpg" alt="Imagen 5">
      <div class="product-info">
              <span>Idioma: Español</span><br>
              <span>Editorial: ALBA</span><br>
              <span>ISBN: 40893046</span><br>
              <span> Es una obra fundamental en el pensamiento
                 existencialista y aborda temas relacionados con el absurdo, 
                 la búsqueda de sentido y la rebelión.</span><br>
              <span>Precio: $50.99</span><br>
              <span>Cantidad: <input type="number" min="1" value="1"></span>
              <img src="../../../assets/imgs/RR.png" alt="Añadir al carrito">
        
      </div>
  </div>
  <div class="product-card">
    <img src="../../../assets/imgs/YY.jpg" alt="Imagen 6">
    <div class="product-info">
      <span>Idioma: Español</span><br>
      <span>Editorial: AKAL</span><br>
      <span>ISBN: 00398701</span><br>
      <span> Rousseau explora las bases de la legitimidad
         política y propone una teoría sobre cómo las sociedades</span><br>
      <span>Precio: $62.29</span><br>
      <span>Cantidad: <input type="number" min="1" value="1"></span>
      <img src="../../../assets/imgs/RR.png" alt="Añadir al carrito">
    </div>
  </div>
   
  <h3 class="product-title"> Biología / Cosmología</h3>
  <div class="product-card">
    <img src="../../../assets/imgs/GG.jpg" alt="Imagen 7">
      <div class="product-info">
              <span>Idioma: Español</span><br>
              <span>Editorial: SX BARRIAL</span><br>
              <span>ISBN: 29007631</span><br>
              <span>  Presenta la teoría de la evolución desde
                 la perspectiva de los genes y su influencia
                  en el comportamiento.</span><br>
              <span>Precio: $36.99</span><br>
              <span>Cantidad: <input type="number" min="1" value="1"></span>
              <img src="../../../assets/imgs/RR.png" alt="Añadir al carrito">
      </div>
  </div>
  <div class="product-card">
    <img src="../../../assets/imgs/VV.jpg" alt="Imagen 8">
    <div class="product-info">
      <span>Idioma: Español</span><br>
      <span>Editorial: SX BARRIAL</span><br>
      <span>ISBN: 74603119</span><br>
      <span>  Introduce la teoría de cuerdas y explora
         las fronteras de la física teórica.</span><br>
      <span>Precio: $36.99</span><br>
      <span>Cantidad: <input type="number" min="1" value="1"></span>
      <img src="../../../assets/imgs/RR.png" alt="Añadir al carrito">
    </div>
  </div> 
  </div>
</div>





























































































































  
<!--------------------------------------FOOTER-------------------------------------->
<footer class="footer">
    <div class="footer-column">
      <h3>CONTACTO</h3>
      <p>🎧 Atención al cliente 24/7: (+593)927314029</p>
      
      <div class="social-icons">
        <img src="../../../assets/imgs/facebook.png" alt="facebook" >
        <img src="../../../assets/imgs/instagram.jpg" alt="instagram">
        <img src="../../../assets/imgs/youtube.png" alt="youtube">
       
        <img src="../../../assets/imgs/tik-tok.png" alt="tiktok">
        <img src="../../../assets/imgs/gorjeo.png" alt="twitter">
      </div>
    </div>
    <div class="footer-column">
      <div class="footer-center">
        <h3>Por qué comprar</h3>
        <ul>
         
          <li><u>Centro de ayuda en linea</u></li>
          <li><u>Política de devolucion de productos</u></li>
          <li><u>Términos y condiciones</u></li>
          
          <li><u>Propiedad intelectual</u></li>
        </ul>
      </div>
    </div>
    <div class="footer-column">
      <div class="footer-end">
        <h3>MÉTODOS DE PAGO</h3>
        <div class="social-icons">
          <img src="../../../assets/imgs/visa.jpg" alt="Visa" >
          <img src="../../../assets/imgs/paypal.png" alt="Paypal" >
          <img src="../../../assets/imgs/tarjeta.png" alt="MasterCard" >
        </div>
      </div>
    </div>
    <p class="slogan">® 2018- 2025 -Paraíso de los libros- Todos los derechos reservados - </p>
  </footer>
  
  
  
  
  
  
  
  
  
  
  
  
  
  