<div class="container">
    <div class="container">
      <div class="izq">       
        <img class="imagen" src="assets/first.jpg" alt="">
      </div>
    </div>
    <div class="der">
      <body>
        <form class="registration-form">
          <br>
          <br>
          <br>
          <br>
          <h2>INICIAR SESION</h2>
          <h3>Aún no tienes una cuenta?<a href="login/registrarse"><u>Crear cuenta</u></a></h3>
          <label for="usuario">Usuario:</label>
        <!----- <input type="text" id="usuario" name="usuario" required [(ngModel)]="usuario">--->
          <label for="contrasena">Contraseña:</label>
         <!---- <input type="password" id="contrasena" name="contrasena" required [(ngModel)]="contrasena">-->
         <!-----<button type="button" (click)="ingresar()">Iniciar Sesión</button><br>--->
          <button type="button">Iniciar sesion con Google</button><br>
          <button type="button">Iniciar sesion con Facebook</button>
          <br>
          <br>
          <br>
          <br>
          <br>
        </form>
      </body>
    </div>
  </div>
  
  <!--------------------------------------FOOTER-------------------------------------->
<footer class="footer">
    <div class="footer-column">
      <h3>CONTACTO</h3>
      <p>🎧 Atención al cliente 24/7: (+593)927314029</p>
      
      <div class="social-icons">
        <img src="../../../assets/imgs/facebook.png" alt="facebook" >
        <img src="../../../assets/imgs/instagram.jpg" alt="instagram">
        <img src="../../../assets/imgs/youtube.png" alt="youtube">
       
        <img src="../../../assets/imgs/tik-tok.png" alt="tiktok">
        <img src="../../../assets/imgs/gorjeo.png" alt="twitter">
      </div>
    </div>
    <div class="footer-column">
      <div class="footer-center">
        <h3>Por qué comprar</h3>
        <ul>
         
          <li><u>Centro de ayuda en linea</u></li>
          <li><u>Política de devolucion de productos</u></li>
          <li><u>Términos y condiciones</u></li>
          
          <li><u>Propiedad intelectual</u></li>
        </ul>
      </div>
    </div>
    <div class="footer-column">
      <div class="footer-end">
        <h3>MÉTODOS DE PAGO</h3>
        <div class="social-icons">
          <img src="../../../assets/imgs/visa.jpg" alt="Visa" >
          <img src="../../../assets/imgs/paypal.png" alt="Paypal" >
          <img src="../../../assets/imgs/tarjeta.png" alt="MasterCard" >
        </div>
      </div>
    </div>
    <p class="slogan">® 2018- 2025 -Paraíso de los libros- Todos los derechos reservados - </p>
  </footer>
  
  
  
  
  
  
  
  
  
  
  
  
  
  